img {
    border: 2px solid black;
}

input {
    width: 6em;
}

body {
    font-family: Sans-Serif;
}

#container {
    position: relative;
}

#solveMarket {
    position: absolute;
}

button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div.project {
    position: absolute;
    width: 120px;
    padding: 5px;
    color: white;
    border: 2px solid grey;
}


div.outcome {
    position: absolute;
    display: none;
    width: 170px;
    padding: 5px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: 2px solid grey;
}

#summary {
    position: absolute;
    display: none;
    width: 150px;
    padding: 5px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: 2px solid grey;
    font-size: 16px;
}

